<div>

<%= turbo_frame_tag 'cart' do %>
  <% if @cart.orderables.count > 0 %>
   <h1>Your cart</h1>
  <% end %>
<div style="display:flex;justify-content:space-between;margin: 0em 5em;border;">
  <% if @cart.orderables.count > 0 %>

    <%= render 'cart/orderables' %>
  </div>
    <strong><p>Grand Total: <%= number_to_currency(@cart.total.to_i) %></p></strong>
  <% end %>
<% end %>
    <%# <%= render partial: 'pay/stripe/checkout_button', locals: {
  session: checkout_path,
  title: 'Checkout'
} %>
</div>

