<%= turbo_frame_tag 'cart' do %>
  <h1>Your cart</h1>
<div style="display:flex;justify-content:space-between;margin: 0em 5em;border;">
  <% if @cart.orderables.count > 0 %>
    <%= render 'cart/orderables' %>
  </div>
    <strong><p>Grand Total: <%= @cart.total %></p></strong>
    <% else %>
      <p>Your cart is empty</p>
  <% end %>
<% end %>