<div>

<%= turbo_frame_tag 'cart' do %>
  <% if @cart.orderables.count > 0 %>
   <h1>Your cart</h1>
  <% end %>
<div style="display:flex;justify-content:space-between;margin: 0em 5em;border;">
  <% if @cart.orderables.count > 0 %>

    <%= render 'cart/orderables' %>
  </div>
    <strong><p>Grand Total: <%= @cart.total %></p></strong>
  <% end %>
<% end %>
</div>