<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
    <button
      class="px-3 py-4 bg-indigo-600 block w-full text-center rounded font-bold text-white shadow-sm"
    >
      Subscribe for $90/yr
    </button>