<div class="column">
  <div class="card">
      <footer class="card-footer">
        <p class="card-footer-item">
          <%# Age: <br><%= products.name %> %>
        </p>
        <p class="card-footer-item">
          <%# Legs: <br><%= products.price %> %>
        </p>
        <p class="card-footer-item">
          <%# Speed: <br><%= products.description %> %>
        </p>

      </footer>

  </div>
</div>